<% layout('/layouts/boilerplate.ejs') %>

    <div class="row mt-3">
    <div class="col-8 offset-2">

        
    <h3>Edit your Event</h3>
    <form method="post" action="/events/<%= event._id %>?_method=put" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="event[title]" value="<%= event.title %>" class="form-control" required>
        <div class="invalid-feedback">Please fill title!</div>

    </div>
        
        
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="event[description]" class="form-control" required><%= event.description %></textarea>
        <div class="invalid-feedback">Please fill description!</div>

    </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="date" class="form-label">Date</label>
        <input name="event[date]" value="<%= event.date %>" type="date" class="form-control" required>
        <div class="invalid-feedback">Please fill Date!</div>
    </div>
    <div class="mb-3 col-md-8">
        <label for="time" class="form-label">Time</label>
        <input name="event[time]" value="<%= event.time %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please fill time!</div>
    </div>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input name="event[category]" value="<%= event.category %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please choose category!</div>
    </div>
        
    <div class="mb-3">
        <label for="loaction" class="form-label">Location</label>
        <input name="event[location]" value="<%= event.location %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please fill loaction!</div>
    </div>
    <div class="row">  
    <div class="mb-3 col-md-6">
        <label for="image" class="form-label">Image</label>
        <input name="event[image]" value="<%= event.image %>" type="text" class="form-control" required>
        <div class="valid-feedback">Please select image of your choice!</div>
    </div>
        
    <div class="mb-3 col-md-6">
        <label for="price" class="form-label">Price</label>
        <input name="event[price]" value="<%= event.price %>" type="number" class="form-control" required>
        <div class="invalid-feedback">Please fill valid price!</div>
    </div>
    </div>
    <div class="mb-3">
        <label for="attendeeCount" class="form-label">Attendee Count</label>
        <input name="event[attendeeCount]" value="<%= event.attendeeCount %>" type="number" class="form-control" required>
        <div class="invalid-feedback">Please update count!</div>
    </div>
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        
       

    </form>
</div>
</div>
<script src="/js/script.js"></script>

